.bg-header   { background: #ff8080; }


html, body{
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.4;
	height: 100%;

	margin: 0;
	padding: 0;

}
a{ text-decoration: none; color: inherit; }

.site-content{
	overflow: hidden;
	padding-top: 66px;
}



.header{
	position: fixed;
	left: 0;
	right: 0;
	height: 66px;
	line-height: 66px;
	color: #FFF;
	background-color: red;

}

.header__logo{
	font-weight: bold;
	padding: 0 25px;
	float: left;

}

.menu{
	float: left;

}

.menu a{
	padding: 0 10px;
}
.menu a:hover{
	color:#ff8080;
}



@media only screen and (max-width: 750px){

	.site-pusher, .site-container{ height: 100%; }

	.site-container { overflow: hidden; }

	.site-pusher{
		transition-duration: 0.3s;
		transform:translateX(0px);
	}

	.site-content{ 
		overflow: hidden;
		position: absolute;
		top: 66px;
		right: 0;
		left: 0;
		bottom: 0;
		padding-top: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;

	 }

	.header{
		position: static;

	}

	.header__icon{
		position: relative;
		display: block;
		float: left;
		width: 50px;
		height: 66px;
		cursor: pointer;
		background-color: rgba(#FFF, 0.5);
	}

	.header__icon::after{
			content:'';
			position: absolute;
			display: block;
			width: 16px;
			height: 0;
			top: 16px;
			left: 15px;
			box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
	}

	.menu{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width:250px;
		background-color: red;
		transform:translateX(-250px);
		
	}
	

	.menu a{
		display: block;
		height: 40px;
		background-color: red;

		text-align: center;
		line-height: 40px;

		border-bottom: 1px solid #ff8080;
	}

	.width--sidebar .site-pusher{
		
		transform:translateX(250px);
	}

	.width--sidebar .site-cache{

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.6);
	}
}