// VARIABLES

$backgroundColor: #C2242A;
$color2: #C2242A;

$tileWidth:     200px;
$tileHeight:    400px;
$tileBorder:    2px;
$tilePadding:   5px;
$tileMargin:    20px;
$tilePerLine:   4;

@import "scss/header-footer.scss";

@import "scss/grid.scss";


.display-none {
    display: none;
}