$backgroundColor: #8A1002;
$heightHeader: 150px;

body{
    margin: 0;
    padding: 0;
}

header {
    background-color: $backgroundColor;
    height: $heightHeader;
}

.content{
    width: 800px;
    margin: auto;
}