.options {
    padding-top :20px;
    padding-right: $tileMargin;
    padding-left: $tileMargin;

    .research-field{
        float: right;
    }
}

.grid{
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    justify-content: center;

    padding: 0;
    

    .card{
        width: $tileWidth;
        height: $tileHeight;
        margin: $tileMargin;

        cursor: pointer;

        border: $tileBorder solid $color2;
        border-radius: 40px;
        background-color: #fff;

        transition: all 200ms ease-in-out;

        padding-left: $tilePadding;
        padding-right: $tilePadding;

        &:hover {
            background-color: lighten($backgroundColor, 10%);
            transform: scale(1.1);
        }

        .tile-header {
            height: 20%;

            .tile-title {
                height: 40px;
                width: 100%;

                font-size: 150%;

                margin-top: 10px;

                text-align: center;

            }
        }

        .tile-mainPart{
            height: 60%;

            text-align: center;
        }

        .tile-footer {
            height: 20%;

            .date{
                float: left;
                width: 60%;

                text-align: center;
            }

            .price{
                float: right;
                width: 40%;

                text-align: center;
            }
        }

    }

    .picture{
        margin: $tileMargin;

        cursor: pointer;

        transition: all 200ms ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
    }

    .product{
        margin: $tileMargin;

        cursor: pointer;

        transition: all 200ms ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
    }

}

.presentation{

    .picture-presentation{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .author_like{
        display: flex;
        .author{
            width:60%;
        }

        .like{
            width: 40%;
            text-align: right;
        }
    }

}
